<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom7VeXeApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchTicketActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nhom7vexeapp.VeResultsActivity"
            android:exported="false" />

        <activity
            android:name=".DatVeActivity"
            android:exported="false" />
        <activity
            android:name=".ThongTinChiTietActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjKLkqL_kcIQcltdubSO4SLD_VhDYbilo" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".OperatorMainActivity"
            android:exported="false" />
        <activity android:name=".PhuongTienManagementActivity"
            android:exported="false" />
        <activity android:name=".CarTypeManagementActivity"
            android:exported="false" />

        <activity
            android:name=".TripListActivity"
            android:exported="false" />

        <activity
            android:name=".CreateTripActivity"
            android:exported="false" />

        <activity
            android:name=".TripDetailActivity"
            android:exported="false" />

        <activity
            android:name=".TripRouteActivity"
            android:exported="false" />

        <activity
            android:name=".DriverSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerRegisterActivity"
            android:exported="false" />

        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditCustomerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".OperatorProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditOperatorProfileActivity"
            android:exported="false" />

        <activity
            android:name=".QLNhaxeActivity"
            android:exported="false" />

        <activity
            android:name=".QLTuyenxeActivity"
            android:exported="false" />

        <activity
            android:name=".QLVeXeActivity"
            android:exported="false" />

        <activity
            android:name=".PhanHoiActivity"
            android:exported="false" />

        <activity
            android:name=".VietNhanXetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".CreateDriverAccountActivity"
            android:exported="false" />

    </application>

</manifest>
